

body{
    font-size: 14px;
}

header .blog-masthead {
    background-color: #b34848 !important;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6, 
  .blog-title {
    color: #b34848 !important;
  }

  .blog-title:hover{
    color:#b34848;
    text-decoration: underline;
  }


.comment-content{
  list-style: none !important;
}

  
.alert{
  margin: -9px 0 12px 0;
  padding: 10px;
  border-radius: 5px;
}
.success-alert{
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}
.error-alert{
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}
